body {
   background-color: yellow;
   font-family: 'bobs_burgersregular';
}

h1 {
    text-align: center;
    font-family: 'bobs_burgersregular';
}

h3 {
    text-align: center;
    font-size: 300px;
    font-family: 'bobs_burgersregular';
}

.jumbotron-fluid{
background-image: url("../img/bobsburgers.jpg");
  background-size: 80%;
  background-position: center; 
  background-repeat: no-repeat;
  height: auto;
}

.display-4 {
    font-size: 200px;
    text-align: center;
    color: yellow;
    font-family: 'bobs_burgersregular';
}

.burgers{
    background: white;
    opacity: .8;
    max-width: 500px;
    margin: auto;
    margin-top: 5%;
}

.deleteBtn {
    margin-left:auto;
    margin-right:auto;
}

@font-face {
    font-family: 'bobs_burgersregular';
    src: url('/assets/css/fonts/bobs_burgers-webfont.woff2') format('woff2'),
         url('/assets/css/fonts/bobs_burgers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}