body {
    margin-bottom: 25px;
   background-image: url("../img/burger.gif");
   background-position: center;
}

h1 {
    font-size: 200px;
    text-align: center;
  
}

h3 {
    text-align: center;
    font-size: 300px;
   
}

.jumbotron-fluid {
    width: 100%;
    background-image: url("../img/bobsburgers.jpg");
    height: 200px;
    background-position: center;
}

.display-4 {
    text-align: center;
    color: yellow;
    font-family: 'bobs_burgersregular';
    background-color: rgba(41, 41, 40, 0.75);

}

.burgers{
    background: black;
    color: white;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    font-family: 'bobs_burgersregular';
   
}

.burgerlist {
background-color: #777777;
padding-top: 20px;
padding-bottom: 20px;

margin: auto;
}

.category{
    font-family: 'bobs_burgersregular';
    color:white;

}

.deleteBtn {
    margin-left:auto;
    margin-right:auto;
    
}


@font-face {
    font-family: 'bobs_burgersregular';
    src: url('/assets/css/fonts/bobs_burgers-webfont.woff2') format('woff2'),
         url('/assets/css/fonts/bobs_burgers-webfont.woff') format('woff'),
         url('/public/assets/css/fonts/BobsBurgers.ttf'),
         url('/public/assets/css/fonts/BobsBurgers2.ttf'); 
    font-weight: normal;
    font-style: normal;

}